<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wall-E 安装</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- 引入bootstrap -->
		<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Static/bootstrap-3.2.0/css/bootstrap.min.css">
		<!-- 引入javascript -->
		<script type="text/javascript" src="__ROOT__/Public/Static/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Public/Static/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="jumbotron masthead">
            <div class="container">
                <block name="body"></block>
            </div>
        </div>
        <!-- Footer
        ================================================== -->
        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <div>
                	<block name="footer"></block>
                </div>
            </div>
        </footer>
    </body>
</html>
