<extend name="Public/base" />
<block name="content">
<!-- 导航 -->
<div>
	<form action="{:U('Nav/edit_nav',array('id'=>$nav['id']))}" method="post">
	<table class="table" style="width:66%;">
		<thead><tr><td><a href="{:U('Nav/nav')}" class="btn btn-large btn-primary">返回列表</a></td><td></td></tr></thead>
		<tbody>
		<tr><td>功能名称</td><td><input type="text" name="title" value="{$nav.title}"></td></tr>
		<tr><td>链接地址</td><td><input type="text" name="url" value="{$nav.url}"></td></tr>
		<tr><td>上层ID</td><td><input type="text" name="type" value="{$nav.type}"></td></tr>
		<tr><td>显示顺序</td><td><input type="text" name="sort" value="{$nav.sort}"></td></tr>
		<tr><td>打开方式<br>_self 当前窗口打开;<br>_blank 新窗口打开</td><td><input type="text" name="target" value="{$nav.target}"></td></tr>
		<tr><td colspan="2" style="text-align:center;"><input type="submit" value="保存更改" class="btn btn-large"></td></tr>
		</tbody>
	</table>
	</form>
</div>
</block>