<extend name="Public/base" />
<block name="content">
<!-- d -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div style="width:40%">
	<div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <strong>{$bakmessage}! </strong>
	  <p>{$usetime}</p>
	</div>
	<p><a href="{:U('System/index')}" class="btn btn-info">返回</a>&nbsp;
	<a href="{:U('Baksql/backlist')}" class="btn btn-info">查看备份列表</a></p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</block>