<extend name="Public/base" />
<block name="link">
<!-- 载入牛顿摆 -->
<link rel="stylesheet" href="__ROOT__/Public/Plugin/html5-cradle/css/style.css" media="screen" type="text/css" />
<script src='__ROOT__/Public/Plugin/html5-cradle/js/matter-0.5.0.min.js'></script>
<script src="__ROOT__/Public/Plugin/html5-cradle/js/index.js"></script>
</block>
<block name="content">
<div style="width:100%;height:530px;text-align:center;">
<h1 style="color:green;">
恭喜你实现了目标！！
</h1><a href="{:U('Savemoney/index')}">返回首页</a>
<div style="text-align:center"><div id="stage"></div></div>

</div>
</block>