<!-- 存放网站前台载入文件 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" lang="zh_cn">

<!-- 网站logo -->
<link rel="shortcut icon" href="{$config.site_logo}">

<!-- 引入导航CSS -->
<link rel="stylesheet" href="__ROOT__/Public/Home/css/nav.css">
<!-- 引入分页类样式 -->
<link rel="stylesheet" href="__ROOT__/Public/Home/css/page.css">
<!-- 引入表格样式 -->
<link rel="stylesheet" href="__ROOT__/Public/Home/css/table.css">

<!-- 引入bootstrap -->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Static/bootstrap-3.2.0/css/bootstrap.min.css">
<!-- 引入bootstrap日期样式 -->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Static/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css">

<!-- 引入javascript -->
<script type="text/javascript" src="__ROOT__/Public/Static/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Home/js/home.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Static/bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Static/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.min.js"></script>
<block name="link">
<!-- 自定义插件链接 -->
</block>
<title>{$config.site_title}|{$meta_title}</title>
</head>
<body>
